# Basics

In [1]:
from pyDatalog import pyDatalog

In [3]:
# Variables must start with uppercase letters.
pyDatalog.create_terms('X,Y')

In [4]:
# give me all the X so that X is 1
print(X==1)

X
-
1

In [5]:
# give me all the X and Y so that X is True and Y is False
print((X==True) & (Y==False))

X    | Y
-----|------
True | False

In [6]:
# give me all the X that are both True and False
print((X==True) & (X==False))

[]

In [7]:
# give me all the X and Y so that X is a name and Y is 'Hello ' followed by the first letter of X
print((X==raw_input('Please enter your name : ')) & (Y=='Hello ' + X[0]))

Please enter your name : test
X    | Y
-----|--------
test | Hello t

In [14]:
# give me all the X and Y so that Y is 1 and Y is X+1
print((Y==1) & (Y==X+1))

[]

In [16]:
# Nested tuples
print((X==(1,2)+(3,)) & (Y==X[2]))

X         | Y
----------|--
(1, 2, 3) | 3

In [2]:
# Use own function
def exponent(a):
    return a*a

pyDatalog.create_terms('X,Y,exponent')
print((X==2) & (Y==exponent(X)))

X | Y
--|--
2 | 4

In [3]:
# give me all the X and Y so that X is 2 and Y is the square root of X
import math
pyDatalog.create_terms('math')
print(X==2) & (Y==math.sqrt(X))

X | Y
--|--------------
2 | 1.41421356237

# Loops

In [1]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z')

In [3]:
# give me all the X so that X is in the range 0..4
print(X.in_((0,1,2,3,4)))

print

# here is the procedural equivalent
for x in range(5):
    print x

X
-
0
3
4
1
2

0
1
2
3
4

The result of a query is a set of its possible solutions, in random order. Each solution has 1 value for each variable in the query. The .data attribute gives access to the result.

In [4]:
print(X.in_(range(5)).data)
print(X.in_(range(5)) == set([(0,), (1,), (2,), (3,), (4,)]))

[(0,), (2,), (1,), (4,), (3,)]
True

In [8]:
print("Data : ",X.data)
print("First value : ",  X.v())
# below, '>=' is a variable extraction operator
print("Extraction of first value of X: ", X.in_(range(5)) >= X)

('Data : ', [4, 3, 0, 2, 1])
('First value : ', 4)
('Extraction of first value of X: ', 2)

In [9]:
# give me all X in range 0..4 that are below 2
print(X.in_(range(5)) & (X<2))

X
-
1
0

In [10]:
# give me all X, Y and Z so that X and Y are in 0..4, Z is their sum, and Z is below 3
print(X.in_(range(5)) &
          Y.in_(range(5)) &
              (Z==X+Y) &
              (Z<3))

X | Y | Z
--|---|--
2 | 0 | 2
0 | 1 | 1
0 | 0 | 0
1 | 0 | 1
0 | 2 | 2
1 | 1 | 2

# Logic Functions and dictionnaries

In [11]:
from pyDatalog import pyDatalog

# Logic function names should start with lower case.
pyDatalog.create_terms('X,Y,Z, salary, tax_rate, tax_rate_for_salary_above, net_salary')

Function can be defined with value:

In [19]:
salary['foo'] = 60
salary['bar'] = 110
salary['baz'] = 130

# Python equivalent
_salary = dict()
_salary['foo'] = 60
_salary['bar'] = 110
_salary['baz'] = 130

Or can be queried:

In [27]:
# give me all the X and Y so that the salary of X is Y
print(salary[X]==Y)
print
# python equivalent
print(_salary.items())

X   | Y
----|----
foo | 70
baz | 130
bar | 110

[('baz', 130), ('foo', 70), ('bar', 110)]

In [28]:
# foo now has a salary of 70
salary['foo'] = 70
print(salary['foo']==Y)
print

# Python equivalent
_salary['foo'] = 70
print('foo --> ' + str(_salary['foo']))

Y
--
70

foo --> 70

Querying just like in database systems.

In [31]:
# give me all the X that have a salary smaller than 120
print((salary[X]<120))

# give me all the X with salary Y where Y is smaller than 120
print((salary[X]==Y) & (Y<120))

print

# procedural equivalent in python
for i, j in _salary.items():
    if j<120:
        print i, '-->', j

X
---
bar
foo
X   | Y
----|----
foo | 70
bar | 110

foo --> 70
bar --> 110

In [32]:
# negation
print((salary[X]==Y) & ~(Y==110))

X   | Y
----|----
baz | 130
foo | 70

Add `+` to define global variables.

In [33]:
# the standard tax rate is 33%
+(tax_rate[None]==0.33)

In [34]:
# give me the net salary for all X
print((Z==salary[X]*(1-tax_rate[None])))

X   | Z
----|-----
bar | 73.7
baz | 87.1
foo | 46.9

In this case, X is bound by salary[X], so the expression can be evaluated.

A function can also be defined by a clause. Here is a simple example:

In [36]:
# the net salary of X is Y if Y is the salary of X, reduced by the tax rate
net_salary[X] = salary[X]*(1-tax_rate[None])

In [37]:
# give me all the X and Y so that Y is the net salary of X
print(net_salary[X]==Y)
print

# procedural equivalent in Python
for i,j in _salary.items():
    k = j*(1-0.33)
    print i, k

X   | Y
----|-----
foo | 46.9
baz | 87.1
bar | 73.7

baz 87.1
foo 46.9
bar 73.7

In [38]:
# give me the net salary of foo
print(net_salary['foo']==Y)
print
print(net_salary[Y]<50)

Y
----
46.9

Y
---
foo

## Now it gets more interesting

With logic programming, we can keep relations in variables i.e. not just values as in functional programming.

In the code below, we want to keep different amount of tax rate depending on salary amount.

In [40]:
# the tax rate for salaries above 0 is 33%, and above 100 is 50 %
(tax_rate_for_salary_above[X] == 0.33) <= (0 <= X)
(tax_rate_for_salary_above[X] == 0.50) <= (100 <= X)
print(tax_rate_for_salary_above[70]==Y)
print
print(tax_rate_for_salary_above[150]==Y)

# There's no way to keep this information with such small number of lines in functional programming!

Y
----
0.33

Y
---
0.5

The '<=' is the important token in the statements above : it is read 'if'.

The most general definition of the function is given first. When searching for possible answers, pyDatalog begins with the last rule defined, i.e. the more specific, and stops as soon as a valid answer is found for the function. So, even though the 2 rules seem to apply for a salary of 150, the second one is actually used to obtain 50 %

Redefining net_salary:

In [41]:
# retract our previous definition of net_salary
del net_salary[X]

net_salary[X] = salary[X]*(1-tax_rate_for_salary_above[salary[X]])
# give me all X and Y so that Y is the net salary of X
print(net_salary[X]==Y)

X   | Y
----|-----
foo | 46.9
bar | 55.0
baz | 65.0

In [47]:
pyDatalog.create_terms('factorial, N')

factorial[N] = N*factorial[N-1]
factorial[1] = 1

print(factorial[10]==N)

N
-------
3628800

# Aggregate functions

In [49]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,manager, count_of_direct_reports')

# the manager of Mary is John
+(manager['Mary'] == 'John')
+(manager['Sam']  == 'Mary')
+(manager['Tom']  == 'Mary')

In [51]:
(count_of_direct_reports[X]==len_(Y)) <= (manager[Y]==X)
print(count_of_direct_reports['Mary']==Y)

Y
-
2

# Literals and sets (This is how to add concepts!)

In [53]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z, works_in, department_size, manager, indirect_manager, count_of_indirect_reports')

In [54]:
# Mary works in Production
+ works_in('Mary', 'Production')
+ works_in('Sam',  'Marketing')

+ works_in('John', 'Production')
+ works_in('John', 'Marketing')

# procedural equivalent in Python
_works_in = set()
_works_in.add(('Mary', 'Production'))
_works_in.add(('Sam',  'Marketing'))
_works_in.add(('John', 'Production'))
_works_in.add(('John', 'Marketing'))

In [55]:
# give me all the X that work in Marketing
print(works_in(X,  'Marketing'))
print

# procedural equivalent in Python
for i in _works_in:
    if i[1]=='Marketing':
        print i[0]

X
----
John
Sam

Sam
John